<!-- Main navbar -->
<app-navbar></app-navbar>
<!-- /main navbar -->

<!-- Page content -->
<div class="page-content" style="height: 100vh;">
  <!-- Main sidebar -->
  <app-sidebar></app-sidebar>
  <!-- /main sidebar -->

  <!-- Main content -->
  <div class="content-wrapper">
    <!-- Page header -->
    <app-header></app-header>
    <!-- /page header -->

    <!-- Content area -->
    <div class="content"></div>
    <!-- /content area -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /footer -->
  </div>
</div>
