<!-- Main navbar -->
<app-navbar></app-navbar>
<!-- /main navbar -->

<!-- Page content -->
<div class="page-content" style="height: 100vh;">
  <!-- Main sidebar -->
  <app-sidebar (selectedLink)="onNavigate($event)"></app-sidebar>
  <!-- /main sidebar -->

  <!-- Main content -->
  <div class="content-wrapper">
    <!-- Page header -->
    <app-header></app-header>
    <!-- /page header -->

    <!-- Content area -->
    <div class="content">

      <app-dashboard *ngIf="selectedLinkInSidebar==='dashboard'"></app-dashboard>
      <app-product *ngIf="selectedLinkInSidebar==='productlist'"></app-product>

    </div>
    <!-- /content area -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /footer -->
  </div>
</div>