<!-- <tr role="row" [ngClass]="productIndex % 2 == 0 ? 'odd': 'even'"> -->
<td class="sorting_1">{{productItem.name}}</td>
<td>{{productItem.lastname}}</td>
<td>Business Services Sales Representative</td>
<td>19 Apr 1969</td>
<td><span class="badge badge-danger">Suspended</span></td>
<td class="text-center">
    <div class="list-icons">
        <div class="dropdown">
            <a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
                <i class="icon-menu9"></i>
            </a>

            <div class="dropdown-menu" x-placement="bottom-start" x-out-of-boundaries=""
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 19px, 0px);">
                <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
                <a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
                <a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
            </div>
        </div>
    </div>
</td>
<!-- </tr> -->